<!doctype html>
<html>
<head>
  <title>Lottery analyzer</title>
  <meta charset="utf-8" >
  <link rel="stylesheet" href="stylesheets/bootstrap.css"  type="text/css"/>
  {{!-- <link href="stylesheets/prettify.css" rel="stylesheet"> --}}
  {{!-- <link href="stylesheets/bootstrap-switch.css" rel="stylesheet"> --}}
  {{!-- <link href="stylesheets/flat-ui-fonts.css" rel="stylesheet"> --}}
  <script src="javascripts/jquery-1.10.2.js"></script>


  <!-- Loading Flat UI -->
  {{!-- <link href="stylesheets/flat-ui.css" rel="stylesheet"> --}}
  {{!-- <link href="stylesheets/docs.css" rel="stylesheet"> --}}
  {{!-- <link href="stylesheets/demo.css" rel="stylesheet"> --}}
  <link href="stylesheets/draws.css" rel="stylesheet">

</head>
<body>

  {{{body}}}
  <script src="javascripts/handlebars-v1.1.2.js"></script>
  <script src="javascripts/bootstrap.js"></script>
  <script src="javascripts/handledraws.js"></script> 
</body>
</html>

