d<div class="container">
  <h1><a href="#">Lottery Analyzer</a></h1>
  <div class="navbar">
    <div class="navbar-inverse ">
      <div class="container">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Get started</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>  
  <div class="hero-unit">
    <h3>Hi there!</h3>
 
    <p>For the first time this is will be an analyzing site for the particular Belorussian lottery. During the time I hope sity will grow in something really cool.</p>
   
    <a href="#" class="btn btn-block btn-lg btn-warning">Get Started</a> or <a href="#">Sign in</a>
  </div>  

</div>